body{
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
}
#cart{
    margin-top: 20px;
}
#list{
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-evenly;
    font-size: 20px;
    padding:10px
}
#list > div >img{
    width: 60%;
}

#btn_apply{
    width: 35%;
    height: 40px;
    color: white;
    background-color: rgba(255, 0, 0, 0.555);
    border-radius: 10px;
    border: none;
}
#btn_apply:hover{
    background-color: red;
}

#list > div{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  
}

#flex{
    display: flex;
    /* border: 1px solid black; */
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: lightblue;
    margin-top:70px;
    height:80px;
    align-items: center;
    
}

.flex_class > h4{
    margin-top: 15px;
}

button{
    width: 25%;
    margin-top: 10px;
}

#cart > p{
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 500;
}

a{
    text-decoration: none;
    color:black;

}

.flex_class{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

#btn_proceed{
    text-align:center;
    margin:20px 0px 40px 0px;
    
}
#btn_proceed > button{
    border-radius: 10px;
    width: 10%;
    height: 50px;
    color: white;
    background-color: rgba(255, 0, 0, 0.555);
    font-size: 20px;
    border: none;
}

#btn_proceed > button:hover{
    background-color: red;
}
