* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a{
  text-decoration: none;
}

#top {
  height: 40px;
  width: 90%;
  margin: auto;
  display: flex;
}
#inner {
  background: rgb(229, 139, 86);
  background: linear-gradient(
    90deg,
    rgba(229, 139, 86, 1) 0%,
    rgba(226, 99, 114, 1) 52%,
    rgba(228, 122, 86, 1) 100%
  );
  position: sticky;
  top: 0;
  z-index: 99;
}
#sec1 {
  width: 35%;
}
marquee {
  padding-left: 45px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 40px;
}
marquee:hover {
  color: #ffffff;
  cursor: pointer;
}
#sec2 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#sec2 > div {
  display: flex;
  align-items: center;
}
#sec2 > div > h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #3b050c;
  margin-left: 5px;
  margin-right: 5px;
}
#sec2 > div > h4:hover {
  color: #ffffff;
  cursor: pointer;
}
.fa-solid {
  color: #ffffff;
  font-size: 14px;
  margin-right: 3px;
}
.fa-regular {
  color: #ffffff;
}
.fa-solid:hover {
  color: #ffffff;
}
#nav {
  position: fixed;
  z-index: 99;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}
#hSlider{
  margin-top:80px;
}
#ac {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-around;
  margin-left: 170px;
  
}
.fa-bag-shopping {
  font-size: 18px;
  color: #fc2779;
  cursor: pointer;
}
.fa-bag-shopping:hover {
  color: #fc2779;
}
#cr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  margin-left: 10px;
}
#logo {
  display: flex;
  align-items: center;
  width: 10%;
}
#logo > a > img {
  display: block;
  width: 55%;
}

nav{
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}
nav .wrapper {
  position: relative;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 99;
}
.wrapper .nav-links {
  display: inline-flex;
}

.nav-links {
  width: 50%;
}

#username1 {
  margin-left: 10px;
}

.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: #fa2879;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 95px;
  opacity: 10;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.4s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
  background-color: white;
}
.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px 00px;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.mega-box .content {
  color: #1f1f1f;
  padding: 20px 20px;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}
.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 25px;
}
.content .row header {
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 500;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #1f1f1f40;
  font-size: 14px;
  display: block;
}
.row .mega-links li a:hover {
  color: #fa2879;
}
.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}
@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    background-color: white;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #fa2879;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}
.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div {
  font-size: 45px;
  font-weight: 600;
}

/* ------------------------------------------------------------------------------------ */

#container2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#hSlider2 {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #f3f3f3;
}
#rupay {
  width: 70%;
  margin: auto;
  margin-top: 15px;
}
#rupay:hover {
  scale: 1.01;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#fpd {
  width: 70%;
  margin: auto;
  margin-top: 15px;
}
#fpd:hover {
  scale: 1.01;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#tb {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
#tb_cards {
  height: 1300px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,290px);
  gap: 25px;
}
#tb_cards > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#hSlider3 {
  width: 90%;
  margin: auto;
}
#tb2_cards {
  height: 700px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,290px);
  gap: 25px;
}
#tb2_cards > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#nike_trending{
  scroll-snap-type:x mandatory;
  overflow-x: scroll;
  
}
#nykTrend{
  display: flex;
  width: 250%;
  gap:10px;
  /* height: 200px; */
  /* align-items: center; */
  /* justify-content: space-between; */
 
  padding: 20px;
  
  margin: auto;
}
#nykTrend > div {
  gap: 20;
}
#best_sell>#seller{
  text-align: center;
  font-size: 1.5rem;
  font-weight:200;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;

}

#best_best{
  /* background-color: rgba(97, 87, 87, 0.178); */
  width: 100%;
  scroll-snap-type:x mandatory;
  overflow-x: scroll;
}

#best_sell{
  background-color: rgba(97, 87, 87, 0.178);
  padding-top: 20px;
  margin-top: 20px;
  
}

#best_seller{
  display: flex;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
  width: 250%;
  margin-left: 60px;
}

#best_seller>.best{
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: whitesmoke;
  padding-bottom: 20px;
  /* border:2px solid red; */
  
}

.best img{
  display: flex;
  width:100%;
}
#ftb {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
}
#ftb_cards {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,);
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}
#ftb_cards > div > div {
  background-color: #ffffff;
  padding: 10px 0px;
  margin-top: -5px;
}
#ftb_cards > div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#ftb_cards > div > div > p{
  font-size: 14px;
  color: #fa2879;
}
#ftb_cards > div > div > p + p {
  font-size: 12px;
  color: #000000;
}
#gl {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}
#gl2 {
  width: 40%;
  margin: auto;
  margin-top: 15px;
}
#gl > div > img:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#gl2 > div > img:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#ned {
  width: 70%;
  height: 350px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url('https://images-static.nykaa.com/uploads/e6bda823-b2e6-417f-b9df-e3c5d257130c.jpg?tr=w-1200,cm-pad_resize');
}
#cif {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;

}
#cifSlide {
  border: 1px solid green;
  height: 250px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url('https://images-static.nykaa.com/uploads/03b729d8-eff3-4e52-88a6-e66efe9b9598.jpg?tr=w-1200,cm-pad_resize');

}

#brands_you_cant_miss {
  width: 90%;
  margin: auto;
}
#brands_you_cant_miss p {
  font-size: 11px;
}
.products {
  width: 100%;
  margin: auto;
  margin-top: -15px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.cards > img {
  width: 100%;
  border-radius: 5px;
}
.cards > h4 {
  margin-top: 0px;
}
.cards > p {
  padding-bottom: 25px;
}
#influencers_festive_favourites > h3 {
  text-align: center;
}
#influencers {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}
.cards > h5 {
  margin-top: 0px;
}
#section2 {
  background-color: whitesmoke;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  padding-bottom: 30px;
}
#section2 > p {
  font-size: 20px;
  margin: 10px;
}
#buying_guides {
  text-align: center;
  /* border: 1px solid; */
}

#sliding_guide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

img {
  width: 100%;
}
#ec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: auto;
}

#gift_card {
  margin: auto;
}
#gift_card > :nth-child(1) {
  width: 50%;
  margin-bottom: 25px;
}

#pop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

#popup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

#clearance {
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  margin: 10px;
}
#curation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#advice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#careful {
  margin-top: 30px;
  /* margin-bottom: 30px; */
}
/*------------------------Display Username--------------------------*/
#username{
  cursor: pointer;
}

/* ----------------------FOOTER------------------------------------- */
